%h1 Fetch Kindle Highlights

- if params[:error]
  %p.error Form error! Both fields required.

%form{method: "post", action: "/connect"}
  %p Local File:
  %p
    %input{type: "text", name: "file"}
  %p Amazon credentials:
  %p
    %input{type: "text", name: "email", placeholder: "email", value: (EMAIL rescue nil)}
    %input{type: "password", name: "password", placeholder: "password", value: (PASS rescue nil)}
  %p
    Fetch how many? (leave empty for all)
    %input{type: "text", name: "limit"}
  %p
    %button{type: "submit"} Connect &amp; Get Highlights